.container {
    max-width: 900px;
    margin: 0 auto;
}

section {
    height: 100vh;
    border-top: 1px solid black;
}

.oversized-link {
    display: block;
    height: 100%;
    background-color: aqua;
}
